.programPrice {
  padding: 20px;
  background-color: #f9fafb;
  margin-top: 50px;
  p {
    margin-top: 50px;
  }
  .programOption {
    margin-top: 30px;
    h3 {
      border-bottom: 1px solid #d3d9db;
      padding: 20px;
    }
    p {
      font-size: 1em;
    }
    ul {
      li {
        font-size: 0.7em;
        margin: 7px 0 7px 0;
      }
    }
    div {
      li {
        font-size: 0.8em;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .programPrice {
    padding: 0 100px 0 100px;
  }
}
